# Arquivos de estado do Terraform
*.tfstate
*.tfstate.backup

# Arquivos de log de crash
crash.log

# Arquivos de cache do Terraform
.terraform/
.terraform.lock.hcl

# Arquivos de build da Lambda (criados pelo Terraform)
terraform/.build/

# Cache e artefatos do Python
__pycache__/
*.pyc

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db